<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title> Autor </title>
        <style>
             #head1{text-align: center;}
             #contenido{text-align: center;}
        </style>
    </head>
    <body>
        <h1 id="head1"> Antonio Alférez </h1>
        <div id="contenido">
            <img src="/images/Foto.png" width="100px" height="auto" alt="Foto del alumno">
        </div>
    </body>
</html>