<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title> Autor </title>
        <style>
             #head1{text-align: center;}
             #contenido{text-align: center;}
        </style>
    </head>
    <body>
        <h1 id="head1"> Antonio Alférez </h1>
        <div id="contenido">
            <img src="/images/Foto.png" width="auto" height="315" alt="Foto del alumno">
            <iframe width="auto" height="315" src="https://www.youtube.com/embed/aNkpabIa6hM?list=PLo4CW_btA6oaxJ08NG0Pn_Qx2HY3Rq36T" frameborder="0" allowfullscreen></iframe>
        </div>
        <footer>
            <a href="/">Volver</a>
        </footer>
    </body>
</html>