<html>
<div class="form-group">
	<label for="preg">Username:</label>
	<input type="text" class="form-control" id="preg" name="user[username]"/>
</div>
<div class="form-group">
	<label for="resp">Password:</label>
	<input type="password" class="form-control" id="resp" name="user[password]"/>
</div>
<a href="/"><button type="button" class="btn btn-default">Cancelar</button></a>
<button type="button" class="btn btn-default" onClick="this.disabled=true; this.form.submit();" value="Enviar">Enviar</button>
</html>