<html>
<label for="preg" class="rem">Username:</label>
<input type="text" id="username" name="user[username]"/><p>
<label for="resp" class="rem">Password:</label>
<input type="password" id="pass" name="user[password]"/> <p>
<a href="/"><button type="button">Cancelar</button></a>
<button type="button" onClick="this.disabled=true; this.form.submit();" value="Enviar">Enviar</button>
</html>