<html>
<h2>Editar información de la cuenta:</h2>

<form role="form" method="post" action="/user/<%= user.id %>?_method=put" >      
  <% include _form.ejs %>
</form>
<br>
<form role="form" method="post" action="/user/<%= user.id %>?_method=delete">
	<button type="submit" class="btn btn-danger" onClick="return confirm('Borrar cuenta: <%= user.username %>');">
	Eliminar cuenta
	</button>
</form>
</html>