<html>
<h2>Resetear contraseña</h2>

<form role="form" method='get' action='/sentpass'>

  <div class="form-group">
    <label for="name">Username:</label>
    <input type="text" class="form-control" id="name" name="username"/>
  </div>

  <div class="form-group">
    <label for="email">Email:</label><br />
    <input type="text" class="form-control" id="email" name="email"/>
  </div>

  <button type"submit" onClick="this.disabled=true; this.form.submit();" class="btn btn-default"> Enviar </button>

</form>
</html>